iframe.hidden_iframe{
	display: none;
}

iframe#iframe_window{
	visibility:visible;
	width: 380px;
	height: 550px; 
	border: 1px solid #777BA2;  
	z-index: 999;
	border-radius: 10px;
	/*border-top-left-radius: 10px;
	border-top-right-radius: 10px;*/
	position: fixed;
  bottom: 30px;
  right: 30px;
}
@media only screen and (max-width: 400px) {
	iframe#iframe_window{
		visibility:visible;
		width: 380px;
		height: 550px; 
		border: 1px solid rgb(214, 214, 214);  
		z-index: 999;
		border-radius: 10px;
		/*border-top-left-radius: 10px;*/
		/*border-top-right-radius: 10px;*/
		position: fixed;
		bottom: 30px;
		right: 5px;
	}
}
body#chatbot_window{
	padding-top: 60px;
	/*background-image: url("../img/bot_bg.png");*/
	/*overflow-y: scroll;*/
	/*height: 550px;*/
}
div.fixed {
    position: fixed;
    bottom: 25px;
    right: 20px;
}
.botui-container {
	background: none;
}
.close_chat i{
  font-size: 20px;
  padding-top: 12px;
}
.human-message-container{
	margin: auto !important;
}
.botui-actions-buttons .botui-actions-buttons-button{
	font-size: 12px;
	font-weight: bold;
  background-color: buttonface;
  color: #595a5a;
  border-radius: 20px;
  /*padding: 7px 15px;*/
  margin-left: 0px;
  margin-right: 10px;
  margin-bottom: 10px;
  font-family: "Raleway", sans-serif;
  line-height: 2;
  border-color: rgb(216, 216, 216) rgb(209, 209, 209) rgb(186, 186, 186);
  border-style: solid;
  border-width: 1px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 6px 0;
  min-width: 55%;
}
.botui-actions-container{
	padding-top: 0px;
	padding: 0px;
  margin-left: 0px;
  padding-bottom: 0px;
  text-align: center;
}
.botui-actions-text{
	margin-top: 30px;
}
.botui-actions-text input {
	width: 90%;
}
.round-button{
	border-radius: 50%;
}
@media only screen and (max-width: 992px) {
  .map-image-container {
		display: none;
  }
}
.email-button{
    border-radius: 15px;
	font-family: "Raleway", sans-serif;
    font-weight: 100;
}
.bot-message-container:before {
    content: "";
    display: inline-block;
    background: url("../img/chat_agent.png") center center no-repeat;
    height: 24px;
    width: 30px;
    background-color: none;
    margin-top: 4px;
    float: left;
}
.human-message-container:before {
	content: "";
    display: inline-block;
    background: url("../img/user_message.png") center center no-repeat;
    height: 24px;
    width: 30px;
    background-color: none;	
    float: right;
    margin-top: 4px;
}
.load_chat{
    width: 100px;
    height: 100px;
    background: url(../img/bot_image.png) center center no-repeat;
    /*border-radius: 30px;*/
    border: none;
}
.botui-messages-container{
	padding-bottom: 0px;
}
.botui-message-content{
	margin-bottom: 10px;
}
.close_chat{
	border: none;
	background: none;
	opacity: 0.5;
}
.banner-title{
	color: white;
	font-weight: bolder;
}
@media only screen and (max-width: 600px) {
	.banner-title{
		font-size: 40px;
	}
}

.navbar-default{
  background-color: #777BA2;
  /*background-color: #404665;*/
  border-color: #e7e7e7;
  color: #ffffff;
}

.navbar-brand img {
  padding-bottom: 2px;
}

div.content{
  height: 490px;
}
html.no-scroll{
  overflow: hidden;
}
.botui.botui-container{
  height: 490px;
  overflow-y: scroll;
}

.botui.botui-container::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 10px; 
}

.botui.botui-container::-webkit-scrollbar {
  width: 5px;
  background-color: #F5F5F5; 
}

.botui.botui-container::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #777BA2; 
}

/* -------------------- Login Form ---------------------------*/


/*@import url(https://fonts.googleapis.com/css?family=Open+Sans);*/

* { -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -ms-box-sizing:border-box; -o-box-sizing:border-box; box-sizing:border-box; }

html.login_page { width: 100%; height:100%; overflow:hidden; }

body#login_page { 
	width: 100%;
	height:100%;
	font-family: 'Open Sans', sans-serif;
	background: #092756;
	background: -moz-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%),-moz-linear-gradient(top,  rgba(57,173,219,.25) 0%, rgba(42,60,87,.4) 100%), -moz-linear-gradient(-45deg,  #670d10 0%, #092756 100%);
	background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -webkit-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -webkit-linear-gradient(-45deg,  #670d10 0%,#092756 100%);
	background: -o-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -o-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -o-linear-gradient(-45deg,  #670d10 0%,#092756 100%);
	background: -ms-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -ms-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -ms-linear-gradient(-45deg,  #670d10 0%,#092756 100%);
	background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), linear-gradient(to bottom,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), linear-gradient(135deg,  #670d10 0%,#092756 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3E1D6D', endColorstr='#092756',GradientType=1 );
}
#login_page .login { 
	position: absolute;
	top: 65%;
	left: 50%;
	margin: -150px 0 0 -150px;
	width:300px;
	height:300px;
}

#login_page input { 
	width: 100%; 
	margin-bottom: 10px; 
	background: rgba(0,0,0,0.3);
	border: none;
	outline: none;
	padding: 10px;
	font-size: 13px;
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
	border: 1px solid rgba(0,0,0,0.3);
	border-radius: 4px;
	box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);
	-webkit-transition: box-shadow .5s ease;
	-moz-transition: box-shadow .5s ease;
	-o-transition: box-shadow .5s ease;
	-ms-transition: box-shadow .5s ease;
	transition: box-shadow .5s ease;
}
.navigation{
	margin-top: 40px;
}
.login_page input:focus { box-shadow: inset 0 -5px 45px rgba(100,100,100,0.4), 0 1px 1px rgba(255,255,255,0.2); }

.botui-actions-text-submit{
  border: none;
  background: url(../img/send.png) center center no-repeat;
}
.botui-actions-text-submit span{
  display: none;
}
/* -------------------- End Login Form ---------------------------*/



/*Start Scrollbar*/
.scrollbar {	
  overflow-y: scroll;
}
.force-overflow {
    min-height: 450px;
}

.scrollbar-primary::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5; }

.scrollbar-primary::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #4285F4; }

.scrollbar-danger::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 10px; }

.scrollbar-danger::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5; }

.scrollbar-danger::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #ff3547; }

.scrollbar-warning::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 10px; }

.scrollbar-warning::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5; }

.scrollbar-warning::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #FF8800; }

.scrollbar-success::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 10px; }

.scrollbar-success::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5; }

.scrollbar-success::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #00C851; }

.scrollbar-info::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 10px; }

.scrollbar-info::-webkit-scrollbar {
  width: 5px;
  background-color: #F5F5F5; }

.scrollbar-info::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #777BA2; }

.scrollbar-default::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 10px; }

.scrollbar-default::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5; }

.scrollbar-default::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #2BBBAD; }

.scrollbar-secondary::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 10px; }

.scrollbar-secondary::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5; }

.scrollbar-secondary::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #aa66cc; }


/*End Scrollbar */

.disp-inline-block{
	display: inline-block;
}
.pt8{
	padding-top: 8px !important;
}
.pt12{
	padding-top: 10px !important;
}
.navbar-brand{
	height: auto;
}
.mt10{
	margin-top: 10px !important;
}
.mt30{
	margin-top: 30px !important;
}
